<!-- student/student_edit.html -->

<!DOCTYPE html>
<html>
<head>
    <title>{% if student_form.instance.pk %}Edit{% else %}Add{% endif %} Student</title>
</head>
<body>
    <h1>{% if student_form.instance.pk %}Edit{% else %}Add{% endif %} Student</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ student_form.as_p }}
        {{ fee_form.as_p }}
        {{ course_form.as_p }}
        <button type="submit">{% if student_form.instance.pk %}Update{% else %}Add{% endif %} Student</button>
    </form>
    <p><a href="{% url 'student_list' %}">Back to Student List</a></p>
</body>
</html>
