<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <ul>
        {% for student in students %}
            <li>
                <a href="{% url 'student_detail' pk=student.pk %}">{{ student.first_name }} {{ student.last_name }}</a> - 
                <a href="{% url 'student_delete' pk=student.pk %}" onclick="return confirm('Are you sure you want to delete this student?')">Delete Student</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'student_new' %}">Add New Student</a> 
</body>
</html>
