<!DOCTYPE html>
<html>
<head>
    <title>{{ student.first_name }} {{ student.last_name }}</title>
</head>
<body>
    <h1>{{ student.first_name }} {{ student.last_name }}</h1>
    <p>Date of Birth: {{ student.dob }}</p>
    <img src="{{ student.student_photo.url }}" alt="Student Photo" style="max-width: 300px; max-height: 300px;">
    {% if student.student_resume %}
        <p><a href="{{ student.student_resume.url }}" download>Download Resume</a></p>
    {% endif %}
    <h2>Fees</h2>
    {% if fee %}
        <p>Amount: {{ fee.amount }}</p>
    {% else %}
        <p>No fee information available.</p>
    {% endif %}

    <h2>Courses</h2>
    {% if courses %}
        <ul>
            {% for course in courses %}
                <li>{{ course.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No course information available.</p>
    {% endif %}
    <p><a href="{% url 'student_edit' pk=student.pk %}">Edit Student</a></p>
    <p><a href="{% url 'student_delete' pk=student.pk %}" onclick="return confirm('Are you sure you want to delete this student?')">Delete Student</a></p>
    <p><a href="https://www.google.com" target="_blank">Go to Google</a></p>
    <p><a href="{% url 'student_list' %}">Back to Student List</a></p>
</body>
</html>
